.navbar_box{
    top: 0px;
    width: 100%;
    position: fixed;
    display: flex;
    font-weight: 600;
    z-index: 9;
}
.navbar_bg1{
    background-color: #ffffff52;
}
.navbar_bg2{
    background-color: #ffffff;
}
.nav_logo{
    width: 30%;
    padding: 3px 10px 3px;
}
.link_box1{
    display: none;
    position: relative;
}
.link_box{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 0px;
}
.vardaan_n_logo{
    width: 70px;
}
.page_item{
    padding: 0px 20px;
}
.page_link{
    cursor: pointer;
    color: #2d2d2d;
    font-size: 18px;
}
.collapsible {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    text-align: start;
    transition: height 0.3s ease;
    border-radius: 0px 0px 10px 10px;
}

.collapsible.open {
    height: 160px;
    padding: 10px;
}
.poster_sec{
    width: 100%;
    aspect-ratio: 1/0.46;
}
.video_style{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.about_sec{
    background-image: url("../../public/images/used/abouts_base.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0px 160px 0px;
}

.about_overlay{
    padding: 0px 80px;
    display: flex;
    align-items: center;
    background-image: url("../../public/images/colour-toy.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 1;
}
.about_school{
    width: 60%;
    background-color: #ffffff4f;
    box-shadow: 0px -25px 40px 0px rgba(1, 1, 1, 0.07);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 64px 40px 40px;
    border-radius: 8px 8px 8px 8px;
}
.about_desc{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Limit to 8 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5; /* Adjust line spacing */
    max-height: calc(1.5em * 12);
    padding-bottom: 10px;
}
.abt_img_box{
    width: 40%;
    margin-left: -30px;
    z-index: 2;
}
.abt_img_box1{
    display: none;
}
.about_img{
    width: 100%;
    aspect-ratio: 1/1;
}
.about_heading{
    color: #002880;
    font-family: "Soleto";
    font-size: 46px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    margin: 0px 0px 10px 0px;
}
.about_name{
    color: #002880;
    font-family: "Soleto";
    font-size: 37px;
    font-weight: 900;
    font-style: normal;
    margin: 0px 0px 20px 0px;
}
.info_sec{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 60px 80px 20px 80px;
}
.info_top_heading{
    text-align: center;
    color: #002880;
    font-family: "Soleto";
    font-size: 37px;
    font-weight: 900;
    font-style: normal;
    margin: 0px 0px 20px 0px;
}
.info_card_box{
    width: 25%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.info_card{
    height: 100%;
    padding: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #54BDE6;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 5px 24px 0px rgba(1.0000000000000198, 151.00000000000017, 210, 0.2);
}
.info_card_body{
    height: 100%;
    align-content: center;
}
.info_heading{
    padding-top: 30px;
    color: #006AD9;
    font-family: "Soleto";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    margin: 0px 0px 20px 0px;    
}
.info_desc{
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 20px;
    text-align: justify;
}
.info_logo_box{
    padding: 10px;
    position: absolute;
    right: 50px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #54BDE6;
    border-radius: 50%;
    box-shadow: 0px 5px 24px 0px rgba(1.0000000000000198, 151.00000000000017, 210, 0.2);
    background-color: #FFFFFFE6;
    display: flex;
    justify-content: center;
}
.info_logo{
    width: 100%;
}
.awards_sec{
    background-image: url("../../public/images/awards-bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;    
}
.awards_box{
    text-align: center;
    background-color: #ffffffc2;
    padding: 20px 80px 32px 80px;
}
.awards_heading{
    color: #002880;
    font-family: "Soleto";
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
}
.award_body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 26px;
    width: 100%;
    /* overflow-x: scroll;
    scrollbar-width: none; */
}
.award_item{
    /* min-width: 33.33%; */
    width: 33.33%;
}
.award_card{
    height: 100%;
    padding: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e8b53380;
    border-radius: 16px 16px 16px 16px;
    background-color: #FFFFFF;
}
.award_card_box{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.award_card_body{
    height: 100%;
}
.award_heading{
    padding-top: 16px;
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 24px;
    font-weight: 800;
}
.award_desc{
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 22px;
    text-align: justify;
}
.award_image{
    width: 100%;
}
.award_logo_box{
    position: absolute;
    right: 37%;
    top: -40px;
    width: 26%;
    aspect-ratio: 1/1;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e8b53380;
    border-radius: 50%;
    background-color: #FFFFFFE6;
}
.result_section{
    padding: 20px 0px 30px;
    text-align: center;
    color: #002880;
    font-family: "Soleto";
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
}
.crousel_box{
    display: flex;
    justify-content: center;
}
.crousel_body{
    width: 80%;
}
.poster_img{
    width: 100%;
    aspect-ratio: 1/0.2;
}
.facilities_sec{
    margin-top: -120px;
    padding: 500px 0px;
    background-image: url("../../public/images/used/vardaan_campus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.facilities_heading_sec{
    padding-top: 62px;
    color: #ffffff;
    font-family: "Soleto";
    text-align: center;
}
.facilities_heading{
    font-size: 52px;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}
.facilities_sub_heading{
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    margin: 0px;
}
.facilities_bottom{
    padding: 0px 80px;
}
.facilities_bottom_box{
    margin-top: -260px;
}
.facilities_body{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px 20px 12px 20px;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0.611px -35px 24px 6.3px rgba(174.99999999999994, 175, 65, 0.41);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.facilities_card_box{
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.facilities_img{
    border: 2px solid #1877F2;
    border-radius: 8px;
    text-align: center;
    width: 70%;
    aspect-ratio: 2/1.4;
}
.facility_img{
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 2/1.4;
}
.facilities_name{
    padding-top: 6px;
    font-family: "HELVETICASCHOOL";
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
}
.facilities_description{
    padding: 40px 120px;
    text-align: center;
    color: #2d2d2d;
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 200;
    font-style: oblique;
    line-height: 1.2em;
}
.list_upper_sec{
    background-image: url('../../public/images/used/list_bg.JPG');
    background-position: top center;
    background-repeat: no-repeat;    
    background-size: contain;
}
.list_upper_body{
    padding: 236px;
    background-image: url('https://presidencyschools.org/wp-content/uploads/2022/11/Pan-Bangalore-Presence-top-mask-V2.svg');
    background-position: top center;
    background-repeat: no-repeat;
    opacity: 1;
}
.list_lower_body{
    background-image: url('https://presidencyschools.org/wp-content/uploads/2022/11/pattern-001.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}
.list_bottom_sec{
    background-image: url('https://presidencyschools.org/wp-content/uploads/2022/11/Pan-Bangalore-Presence-02.png');
    background-position: top center;
    background-repeat: no-repeat;
}
.list_lower_box{
    padding: 50px 80px 0px 80px;
    text-align: center;
}
.list_heading{
    margin: 20px;
    color: #FFFFFF;
    font-family: "Soleto";
    font-size: 35px;
    font-weight: 200;
    font-style: italic;
    text-shadow: 4.33px 5px 2.5px rgba(1, 1, 1, 0.25)
}
.list_description{
    margin: 0px;
    color: #FFFFFF;
    font-family: "Soleto";
    font-size: 40px;
    text-shadow: 4.33px 5px 2.5px rgba(1, 1, 1, 0.25)
}
.list_box{
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 32px;
    font-weight: bold;
    line-height: 1.7em;
    margin: 40px 10px 0px 10px;
    padding: 20px 40px 10px 40px;
    background-color: #FFFFFF59;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 7px 49px 0px rgba(255, 240, 0, 0.6);
}
.list_cards{
    padding: 60px 40px 0px;
    display: flex;
    justify-content: center;
}
.list_item{
    width: 35%;
    padding: 20px 20px 40px;
}
.list_card{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 12px 15px 0px rgba(1, 1, 1, 0.7);
}
.list_card1{
    display: none;
}
.list_img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.list_card_body{
    text-align: left;
    padding: 30px 20px 0px 20px;
}
.list_card_heading{
    margin: 0px;
    color: #002880;
    font-family: "HELVETICASCHOOL";
    font-size: 22px;
    font-weight: 600;
}
.list_card_desc{
    padding: 20px 0px 0px;
    margin: 0px;
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}
.list_card_footer{
    text-align: left;
    padding-inline: 20px;
}
.list_card_contact{
    padding: 10px 0px;
    margin: 0px;
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}
.pedagogy_sec{
    padding: 150px 80px 100px;
    margin-top: -140px;
    background-image: url('../../public/images/used/pedagogy_bg.JPG');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pedagogy_heading{
    padding: 10px 0px;
    text-align: center;
    margin: 0px;
    color: #002880;
    font-family: "Soleto";
    font-size: 46px;
    font-weight: 900;
}
.pedagogy_cards{
    width: 100%;
    padding: 80px 40px 0px;
    display: flex;
    justify-content: space-between;
}
.pedagogy_card{
    width: 33.33%;
    background-color: #FFFFFF;
    border-radius: 10px;    
    margin-inline: 10px;
}
.pedagogy_img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.pedagogy_card_body{
    text-align: left;
    padding: 40px 20px 10px 20px;
}
.pedagogy_card_heading{
    margin: 0px;
    color: #002880;
    font-family: "HELVETICASCHOOL";
    font-size: 22px;
    font-weight: 600;
}
.pedagogy_card_desc{
    padding: 20px 0px;
    margin: 0px;
    color: #2d2d2d;
    font-family: "HELVETICASCHOOL";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}
.footer_sec{
    background-image: url('../../public/images/used/bus_pic.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_box{
    padding: 0px 80px;
    background-color: #006ad9e3;
    display: flex;
}
.footer_left{
    box-shadow: 10px 0px 5px 0px rgba(1, 1, 1, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 20px 80px 20px;
    background-color: #FFFFFF;
    width: 30%;
}
.footer_right{
    padding: 40px 0px 40px 40px;
    width: 70%;
    color: #FFFFFF;
}
.vardaan_f_logo{
    width: 50%;
    padding-bottom: 20px;
}
.footer_item{
    font-family: "HELVETICASCHOOL";
    font-size: 18px;
}
.item_name{
    font-weight: 700;
}
.item_description{
    font-weight: 400;
}
.clopyright_sec{
    padding: 10px 0px;
    text-align: center;
    background-color: #002880;
    color: #959292;
    font-weight: 600;
}
.school_list{
    display: flex;
    flex-wrap: wrap;
}
.school_item{
    width: 50%;
    padding: 10px 0px;
}
.school_list_heading{
    font-size: 20px;
}
.social_sec{
    padding: 10px 0px;
    font-size: 20px;
}
.ft_add{
    cursor: pointer;
    padding: 16px 0px;
}
.subpages_heading{
    padding: 180px 80px 100px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
    background-color: #5f5f5f;
}
.subpages_body{
    padding: 40px 80px;
    text-align: justify;
}
.result_img{
    padding: 10px;
}
.rslt_img1{
    width: 50%;
}
.rslt_img2{
    width: 100%;
}
.result_body{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.mgt_sec{
    padding: 0px 80px;
}
.mgt_top_heading{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}
.mgt_item1{
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.mgt_item2{
    display: flex;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.mgt_img_box{
    width: 20%;
}
.mgt_box{
    width: 70%;
    padding: 0px 20px 20px;
}
.mgt_img{
    width: 100%;
}
.mgt_heading{
    font-size: 20px;
    font-weight: 600;
}
.mgt_desc{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.event_body{
    display: flex;
    flex-wrap: wrap;
}
.event_card{
    width: 33.33%;
    padding: 20px 10px;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;
}
.event_card:hover {
    transform: scale(1.05);
}
.thumbnail_box{
    width: 100%;
    aspect-ratio: 1/0.7;
    position: relative;
    border: 2px solid brown;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.thumbnail_box img {
    width: 90%;
    position: absolute;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
.event_card:hover .event_image1 {
    transform: translateY(-10px) rotate(-10deg);
}
.event_card:hover .event_image2 {
    transform: translateY(-10px) rotate(7deg);
}
.event_card:hover .event_image3 {
    transform: translateY(-10px);
}
.event_image1{
    width: 90%;
    position: absolute;
    rotate: 5deg;
    border-radius: 5px;
}
.event_image2{
    width: 90%;
    position: absolute;
    rotate: 5deg;
    border-radius: 5px;
}
.event_image3{
    width: 90%;
    position: absolute;
    border-radius: 10px;
}
.event_name{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.modal_image_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_left_btn{
    position: absolute;
    padding: 1px;
    background-color: #FFFFFF;
    left: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_right_btn{
    position: absolute;
    padding: 1px;
    background-color: #FFFFFF;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.modal_event_image{
    max-width: 100%;
    max-height: 510px;
}
@media screen and (max-width: 1500px) {
    .about_school{
        width: 70%;
        padding: 20px 64px 20px 20px;
    }
    .abt_img_box{
        width: 30%;
    }
    .about_overlay{
        background-image: none;
    }
    .about_desc{
        -webkit-line-clamp: 6;
    }
    .about_heading{
        font-size: 36px;
    }
    .about_name{
        font-size: 28px;
    }
    .info_card{
        padding: 12px;
    }
    .info_logo_box{
        top: -34px;
        width: 85px;
        height: 85px;
    }
    .info_heading{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .info_desc{
        font-size: 18px;
    }
    .list_lower_body{
        padding-bottom: 70px;
    }
    .list_item{
        width: 40%;
        padding: 20px 20px 80px;
    }
    .subpages_heading{
        padding: 145px 80px 60px;
    }
}
@media screen and (max-width: 1200px) {
    .about_school{
        width: 70%;
    }
    .abt_img_box{
        width: 30%;
    }
    .about_overlay{
        background-image: none;
    }
    .about_desc{
        -webkit-line-clamp: 6;
    }
    .about_heading{
        font-size: 36px;
    }
    .about_name{
        font-size: 28px;
    }
    .info_sec{
        flex-wrap: wrap;
        padding-top: 0px;
    }
    .info_card_box{
        width: 50%;
        padding-top: 60px;
    }
    .info_card{
        padding: 20px;
    }
    .info_logo_box {
        top: 15px;
    }
    .info_heading{
        font-size: 24px;
    }
    .info_desc{
        font-size: 20px;
    }
    .awards_heading{
        font-size: 37px;
    }
    .award_card{
        padding: 12px;
    }
    .award_heading{
        padding-top: 12px;
        font-size: 20px;
        font-weight: 600;
    }
    .award_desc{
        font-size: 18px;
    }
    .facilities_body{
        padding: 20px 0px 12px 0px;
    }
    .facilities_img{
        width: 80%;
    }
    .facilities_name{
        font-size: 13px;
    }
    .facilities_description{
        padding: 28px 80px;
    }
    .list_upper_body {
        padding: 160px;
    }
    .list_item{
        width: 50%;
        padding: 20px 20px 100px;
    }
    .list_description{
        font-size: 32px;
    }
    .list_cards{
        padding: 60px 0px 0px;
    }
    .pedagogy_sec {
        padding: 35px 80px 48px;
    }
    .pedagogy_cards {
        padding: 80px 0px 0px;
    }
    .pedagogy_card_body {
        padding: 20px 12px 10px;
    }
    .pedagogy_heading{
        font-size: 37px;
    }
    .pedagogy_card_heading{
        font-size: 20px;
    }
    .pedagogy_card_desc{
        font-size: 16px;
    }
    .footer_left{
        width: 40%;
    }
    .footer_right{
        width: 60%;
    }
    .school_item{
        width: 100%;
        padding: 16px 0px;
    }
    .subpages_body{
        padding: 40px 80px;
    }
    .mgt_sec{
        padding: 0px 80px;
    }
    .mgt_img_box{
        width: 25%;
    }
    .mgt_box{
        width: 75%;
    }
    .mgt_heading{
        font-size: 18px;
        margin-bottom: 4px;
    }
    .mgt_desc{
        font-size: 16px;
    }
}
@media screen and (max-width: 900px) {
    .nav_logo{
        width: 15%;
    }
    .link_box{
        width: 85%;
    }
    .page_item {
        padding: 0px 12px;
    }
    .about_sec{
        padding: 50px 0px 80px 0px;
    }
    .about_overlay{
        padding: 0px 40px;
    }
    .abt_img_box{
        display: none;
    }
    .abt_img_box1{
        display: block;
        margin-top: -26px;
    }
    .about_img{
        aspect-ratio: 1/0.58;
    }
    .about_school{
        width: 100%;
        padding: 20px;
    }
    .about_desc{
        -webkit-line-clamp: 6;
        line-height: 1.5;
        padding-bottom: 6px;
    }
    .about_heading{
        font-size: 28px;
    }
    .about_name{
        font-size: 20px;
    }
    .info_sec{
        padding-inline: 40px;
    }
    .info_top_heading{
        padding-top: 30px;
    }
    .info_card{
        padding: 10px;
    }
    .info_heading{
        font-size: 20px;
    }
    .info_desc{
        font-size: 18px;
    }
    .awards_box{
        padding: 20px 40px 32px 40px;
    }
    .award_item{
        width: 50%;
    }
    .result_section{
        padding: 0px 0px 30px;
        font-size: 37px;
        font-weight: 900;
    }
    .crousel_body{
        width: 90%;
    }
    .poster_img{
        aspect-ratio: 1/0.25;
    }
    .facilities_bottom{
        padding: 0px 40px;
    }
    .facilities_heading{
        font-size: 42px;
    }
    .facilities_body{
        padding: 20px 0px 15px 0px;
        flex-wrap: wrap;
    }
    .facilities_description{
        padding: 16px 40px;
        font-size: 24px;
    }
    .facilities_card_box{
        padding-top: 16px;
        width: 25%;
    }
    .facilities_name{
        font-size: 16px;
    }
    .list_upper_body {
        padding: 120px;
    }
    .list_box{
        font-size: 24px;
        padding: 10px 40px 10px 40px;
    }
    .list_lower_box{
        padding: 50px 40px 0px;
    }
    .list_cards{
        flex-direction: column;
    }
    .list_item{
        width: 100%;
        padding: 40px 20px 20px;
    }
    .list_card{
        display: none;
    }
    .list_card1{
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0px 12px 15px 0px rgba(1, 1, 1, 0.7);
    }
    .list_card_body{
        padding: 30px 12px 0px;
    }
    .list_card_footer {
        padding-inline: 12px;
    }
    .list_description{
        font-size: 24px;
    }
    .list_img{
        width: 50%;
        border-radius: 10px 0px 0px 10px;
    }
    .pedagogy_sec {
        padding: 150px 40px 100px;
    }
    .pedagogy_heading{
        font-size: 28px;
        font-weight: 700;
    }
    .pedagogy_cards{
        padding: 20px 0px 0px;
        flex-direction: column;
    }
    .pedagogy_card{
        width: 100%;    
        margin: 10px 0px;
        display: flex;
    }
    .pedagogy_img{
        width: 50%;
        border-radius: 10px 0px 0px 10px;
    }
    .pedagogy_card_body {
        padding: 10px;
    }
    .pedagogy_card_heading {
        font-size: 18px;
    }
    .pedagogy_card_desc {
        font-size: 15px;
        padding: 10px 0px;
    }
    .footer_box{
        padding: 0px 40px;
    }
    .footer_right{
        padding: 40px 0px 40px 20px;
    }
    .footer_item{
        padding-bottom: 12px;
    }
    .item_name{
        margin-bottom: 4px;
    }
    .item_description{
        margin-bottom: 4px;
    }
    .subpages_heading{
        padding: 145px 40px 60px;
    }
    .subpages_body{
        padding: 40px 40px 0px;
    }
    .mgt_sec{
        padding: 40px 40px;
    }
}
@media screen and (max-width: 600px) {
    .nav_logo{
        width: 50%;
    }
    .link_box{
        display: none;
    }
    .link_box1{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: end;
        padding-right: 28px;
    }
    .about_overlay{
        padding: 0px 28px;
    }
    .about_name{
        margin: 0px 0px 10px 0px;
    }
    .info_top_heading{
        font-size: 28px;
        font-weight: 700;
    }
    .info_sec{
        padding-inline: 28px;
    }
    .info_card_box{
        width: 100%;
    }
    .info_logo_box {
        top: 18px;
    }
    .info_card{
        padding: 20px;
    }
    .info_heading{
        font-size: 24px;
    }
    .info_desc{
        font-size: 20px;
    }
    .awards_box{
        padding: 20px 28px 32px 28px;
    }
    .award_item{
        width: 100%;
    }
    .result_section{
        padding: 0px 0px 16px;
        font-size: 28px;
        font-weight: 700;
    }
    .crousel_body{
        width: 100%;
    }
    .facilities_bottom{
        padding: 0px 28px;
    }
    .facilities_heading_sec{
        padding-top: 44px;
    }
    .facilities_heading{
        font-size: 30px;
    }
    .facilities_description{
        padding: 16px 32px;
        font-size: 18px;
    }
    .list_upper_body {
        padding: 72px;
    }
    .list_heading{
        font-size: 24px;
    }
    .list_description {
        font-size: 20px;
    }
    .list_box {
        font-size: 18px;
        padding: 10px;
    }
    .list_lower_box{
        padding: 50px 28px 0px;
    }
    .list_card{
        display: block;
    }
    .list_card1{
        display: none;
    }
    .list_img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .pedagogy_sec {
        padding: 150px 28px 48px;
    }
    .pedagogy_cards{
        padding: 20px 0px 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pedagogy_card{
        width: 100%;    
        margin: 10px 0px;
        display: block;
    }
    .pedagogy_img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .pedagogy_card_heading {
        font-size: 24px;
    }
    .pedagogy_card_desc {
        font-size: 20px;
    }
    .footer_box{
        padding: 20px 0px 0px;
        flex-wrap: wrap;
    }
    .footer_left{
        width: 100%;
        padding: 40px 28px 20px;
        display: flex;
    }
    .footer_right{
        width: 100%;
        padding: 20px;
    }
    .item_name{
        font-size: 16px;
        font-weight: 700;
    }
    .item_description{
        font-size: 14px;
        font-weight: 400;
    }
    .vardaan_f_logo{
        width: 30%;
        padding-right: 20px;
    }
    .school_list_heading{
        margin-bottom: 0px;
    }
    .subpages_heading{
        padding: 145px 28px 60px;
        font-size: 36px;
    }
    .subpages_body{
        padding: 40px 28px 0px;
    }
    .mgt_sec{
        padding: 40px 28px;
    }
    .mgt_top_heading{
        font-size: 26px;
    }
    .mgt_item1{
        flex-direction: column;
    }
    .mgt_item2{
        flex-direction: column-reverse;
    }
    .mgt_img_box{
        width: 40%;
    }
    .mgt_box{
        width: 100%;
        padding: 10px 0px 20px;
    }
    .result_img {
        padding: 0px 0px 10px;
    }
    .rslt_img1{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .facilities_sec{
        padding: 416px 0px;
    }
    .facilities_card_box{
        width: 33.33%;
    }
    .facilities_name{
        font-size: 13px;
    }
    .facilities_body{
        padding: 0px;
    }
    .facilities_heading{
        font-size: 20px;
    }
    .list_upper_body {
        padding: 50px;
    }
    .list_lower_box{
        padding: 20px 16px 0px;
    }
    .list_item {
        padding: 20px;
    }
    .list_lower_body {
        padding-bottom: 12px;
    }
    .pedagogy_sec {
        padding: 150px 16px 48px;
    }
    .footer_left{
        padding: 40px 16px 20px;
    }
    .vardaan_f_logo{
        width: 40%;
        padding-right: 12px;
    }
    .mgt_img_box{
        width: 60%;
    }
}
.scroll_btn_sec{
    display: flex;
    justify-content: center;
}
.scroll_btn {
    background-color: #e8b533;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.scroll_btn:hover {
  background-color: #d4a623;
}

.scroll_btn:active {
  transform: scale(0.95); /* Adds a click effect */
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}
.testimonial_item{
    display: flex;
    width: 50%;
    padding: 20px 10px;
}
.testimonial_img{
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid red;
    margin-right: -63px;
    z-index: 2;
}
.feedback_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.feedback_details{
    width: 90%;
    padding: 20px 20px 20px 0px;
    align-content: center;    
}
.feedback_box{
    padding-left: 20px;
    border: 3px solid red;
    border-radius: 10px;
}
.feedback_detail{
    padding: 20px 20px 20px 45px;
}
.feedback_names{
    display: flex;
    align-items: flex-end;
}
.angled-rectangle {
    margin-right: -22px;
    padding: 0px 0px 0px 40px;
    width: 40%;
    height: 30px;
    background-color: red;
    transform: skewX(-30deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15px 0px 0px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.rounded-rectangle{
    padding: 0px 0px 0px 40px;
    width: 65%;
    height: 40px;
    background-color: blue;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 30px 0px 10px 0px;
}
.admission_btn{
    position: fixed;
    top: 50%;
    z-index: 2;
    rotate: -90deg;
    right: -52px;
    border-radius: 10px 10px 0px 0px!important;
}
.yt_btn{
    background-color: #FF0000!important;
    border: 0px!important;
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    top: 40%;
    z-index: 2;
    rotate: 0deg;
    left: 0px;
    border-radius: 0px 10px 10px 0px!important;
    transition: width 1s!important;
}
.wtsap_btn{
    background-color: #25D366!important;
    border: 0px!important;
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    top: calc(40% + 40px);
    z-index: 2;
    rotate: 0deg;
    left: 0px;
    border-radius: 0px 10px 10px 0px!important;
    transition: width 1s!important;
}
.fb_btn{
    background-color: #1877F2!important;
    border: 0px!important;
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    top: calc(40% + 120px);
    z-index: 2;
    rotate: 0deg;
    left: 0px;
    border-radius: 0px 10px 10px 0px!important;
    transition: width 1s!important;
}
.insta_btn{
    background-color: transparent!important;
    border: 0px!important;
    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    top: calc(40% + 80px);
    z-index: 2;
    rotate: 0deg;
    left: 0px;
    border-radius: 0px 10px 10px 0px!important;
    transition: width 1s!important;
}
/* .yt_btn:hover{
    width: 120px;
} */
.yt_icon{
    width: 40px;
}
.icon_text{
    color: #ffffff;
    font-weight: 600;
    display: none;
}
.icon_text:hover{
    display: block;
}
.mission_img{
    width: 100%;
    height: 700px;
}
.social_icons{
    display: flex;
    padding-top: 10px;
}
.ft_wtsap_btn{
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.ft_fb_btn{
    width: 40px;
    margin: 0px 10px;
    cursor: pointer;
}
.ft_insta_btn{
    width: 40px;
    margin: 0px 10px;
    cursor: pointer;
}
.ft_yt_btn{
    width: 40px;
    cursor: pointer;
}